/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/vol
/vendor
.env
.env.backup
.env.production
.env.test
.env.local
.env.*.local
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/storage/*-excel/
.config
.scribe
docker-compose.override.yml
/.htaccess
/GeneratedApiDocs/
/GeneratedApiCPGDocs/
/cache/
/.cache
/.composer
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
/phpunit_log.xml
mariadb/
.bash_history
/storage/db-data/
/coverage-html/
/storage/vol/
/storage/tmp
.DS_Store
